.cardContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 300%;
}

